@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$break: 1000px;

$bg-body: #0c122c;
$bg-card: #1e2d69;
$bg-primary: #697ed4;

$rad: 15px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: #{$break}) {
  :root {
    --gap: 1rem;
  }
}
@media (min-width: #{$break}) {
  :root {
    --gap: 1.5rem;
  }
}

html {
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  margin: 0;
  height: 100vh;

  #root {
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    background: $bg-body;
    @media (max-width: #{$break}) {
      background-image: url('./img/bg-mobile.png');
      background-size: cover;
    }
    @media (min-width: #{$break}) {
      background-image: url('./img/bg-desktop.png');
      background-size: contain;
    }
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;

    main {
      // background: orange;
      display: grid;
      align-items: end;
      gap: var(--gap);

      @media (max-width: #{$break}) {
        // grid-template-columns: 1fr;
        grid-template-areas:
          'A'
          'B';
      }
      @media (min-width: #{$break}) {
        // grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
      }

      .A,
      .B {
        border-radius: $rad;
        padding: 3rem;
        background: $bg-card;
        margin: 0 auto;
      }

      $mobile-w: 340px;
      .A {
        grid-area: A;
        width: $mobile-w;
        border-top-right-radius: 90px;

        .logo {
          width: 58%;
          margin-bottom: 1.5rem;
        }

        .contaienr {
          // background: orange;
          width: 77%;
          display: flex;
          justify-content: space-between;
          div {
            display: flex;
            background: $bg-body;
            border-radius: $rad;
            $x: 50px;
            width: $x;
            height: $x;
            padding: 0.9rem;
            img {
              // height: 20px;
              width: 100%;
              // height: 100%;
            }
            svg path {
              fill: $bg-primary;
              width: 200px;
            }
          }
        }
      }
      .B {
        height: fit-content;
        grid-area: B;
        @media (max-width: #{$break}) {
          width: $mobile-w;
        }
        @media (min-width: #{$break}) {
          width: 500px;
        }
      }
    }
  }
}
